{% extends "blog/baseblock/BaseMixin.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
{% endblock %}
{% block script %}{% endblock %}

{% block middle_box %}
  <div class="jztop"></div>
  <div class="container">
    <div class="bloglist f_l">
      {% include "blog/baseblock/ArticleList.html" %}
    </div>
    <div class="r_box f_r">
      {% include "blog/baseblock/Attention.html" %}
      {% include "blog/baseblock/PhotoRecommend.html" %}
      {% include "blog/baseblock/HitSort.html" %}
      {% include "blog/baseblock/Tags.html" %}
      {% include "blog/baseblock/Links.html" %}
      <div class="ad"> <img src="{% static 'blog/images/03.jpg' %}"> </div>
    </div>
  </div>
{% endblock %}
