<div class="frindlinks">
    <h3 class="tit">友情链接</h3>
    <ul>
        {% for link in links %}
        <li><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
        {% endfor %}
{#        <li><a>Python</a></li>#}
{#        <li><a>Mysql</a></li>#}
{#        <li><a>测试链接1个</a></li>#}
{#        <li><a>Php</a></li>#}
{#        <li><a href="http://www.baidu.com/">这是一个友情链接</a></li>#}
{#        <li><a>测试链接2个</a></li>#}
{#        <li><a>测试链接3个</a></li>#}
{#        <li><a>链接</a></li>#}
    </ul>
</div>